.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  background-color: white;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.search-box {
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #333;
  color: white;
}

.right-section {
  display: flex;
  align-items: center;
}

.feedback-btn,
.logout-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.2s;
}

.feedback-btn:hover,
.logout-btn:hover {
  background-color: #333;
}
