.product-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #8b0000;
  color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: red;
}