.auth-container {
  max-width: 500px;
  margin: 60px auto;
  padding: 50px 40px;
  background-color: #fff6f0;
  border-radius: 25px;
  box-shadow: 0 8px 19px red;
  text-align: center;
}

.app-title {
  font-size: 42px;
  color: #8b0000; /* dark red */
  margin-bottom: 60px;
  font-weight: 800;
  letter-spacing: 1px;
}

.auth-form input {
  width: 90%;
  padding: 18px 20px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.auth-form button {
  width: 95%;
  padding: 18px 0;
  background-color: #8b0000;
  color: #fff;
  border: none;
  border-radius: 18px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.auth-form button:hover {
  background-color: #a10000;
  transform: scale(1.02);
}

.message {
  color: green;
  margin-top: 30px;
}

.toggle-link {
  margin-top: 25px;
  cursor: pointer;
  color:brown;
  font-weight: 500;
}
